.navbar .dropdown-menu div[class*="col"] {
   margin-bottom:1rem;
}


.navbar .dropdown-menu {
  border:none;
  background-color:#f6f6f6!important;
}

/* estilos  desplegables */
@media screen and (min-width: 992px) {
  
.navbar {
  padding-top:0px;
  padding-bottom:0px;
}

.navbar .nav-item {
  padding:.5rem .5rem;
  margin:0 .25rem;
}

/*hace que el menú desplegable sea de ancho completo  */
.navbar .dropdown {position:static;}

.navbar .dropdown-menu {
  width:100%;
  left:0;
  right:0;
/*  height of nav-item  */
  top:45px;
  
  display:block;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
  
}
  
.navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
  display:block;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.3s linear;
}
  
  .navbar .dropdown-menu {
    border: 1px solid rgba(0,0,0,.15);
    background-color: #fff;
  }

}

.textoPrin {
    font-size:13px;
    font-family:helvetica;
    font-weight:bold;
    color:rgb(25, 59, 114);
    display:flex;
    justify-content: center;
  }
  .textoPrin1 {
    font-size:13px;
    font-family:helvetica;
    font-weight:bold;
    color:rgb(52, 138, 250);
    display:flex;
    justify-content: left;
  }
  .textseg {
    font-size:13px;
    font-family:helvetica;
    font-weight:bold;
    color:#979797;
    display:flex;
    justify-content: center;
  }

/* cards */

  @mixin flexbox {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
  }
  
  @mixin inline-flex {
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -moz-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
  }
  
  @mixin flex-direction($value: row) {
      @if $value == row-reverse {
          -webkit-box-direction: reverse;
          -webkit-box-orient: horizontal;
      } @else if $value == column {
          -webkit-box-direction: normal;
          -webkit-box-orient: vertical;
      } @else if $value == column-reverse {
          -webkit-box-direction: reverse;
          -webkit-box-orient: vertical;
      } @else {
          -webkit-box-direction: normal;
          -webkit-box-orient: horizontal;
      }
      -webkit-flex-direction: $value;
      -moz-flex-direction: $value;
      -ms-flex-direction: $value;
      flex-direction: $value;
  }
  
  @mixin flex-wrap($value: nowrap) {  
      -webkit-flex-wrap: $value;
      -moz-flex-wrap: $value;
      @if $value == nowrap {
          -ms-flex-wrap: none;
      } @else {
          -ms-flex-wrap: $value;
      }
      flex-wrap: $value;
  }
  
  @mixin flex-flow($values: (row nowrap)) {
      -webkit-flex-flow: $values;
      -moz-flex-flow: $values;
      -ms-flex-flow: $values;
      flex-flow: $values;
  }
  
  @mixin order($int: 0) {
      -webkit-box-ordinal-group: $int + 1;
      -webkit-order: $int;
      -moz-order: $int;
      -ms-flex-order: $int;
      order: $int;
  }
  
  @mixin flex-grow($int: 0) {
      -webkit-box-flex: $int;
      -webkit-flex-grow: $int;
      -moz-flex-grow: $int;
      -ms-flex-positive: $int;
      flex-grow: $int;
  }
  
  @mixin flex-shrink($int: 1) {
      -webkit-flex-shrink: $int;
      -moz-flex-shrink: $int;
      -ms-flex-negative: $int;
      flex-shrink: $int;
  }
  
  @mixin flex-basis($value: auto) {
      -webkit-flex-basis: $value;
      -moz-flex-basis: $value;
      -ms-flex-preferred-size: $value;
      flex-basis: $value;
  }
  
  @mixin flex($fg: 1, $fs: null, $fb: null) {
      $fg-boxflex: $fg;
      @if type-of($fg) == 'list' {
          $fg-boxflex: nth($fg, 1);
      }
      -webkit-box-flex: $fg-boxflex;
      -webkit-flex: $fg $fs $fb;
      -moz-box-flex: $fg-boxflex;
      -moz-flex: $fg $fs $fb;
      -ms-flex: $fg $fs $fb;
      flex: $fg $fs $fb;
  }
  
  @mixin justify-content($value: flex-start) {
      @if $value == flex-start {
          -webkit-box-pack: start;
          -ms-flex-pack: start;
      } @else if $value == flex-end {
          -webkit-box-pack: end;
          -ms-flex-pack: end;
      } @else if $value == space-between {
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
      } @else if $value == space-around {
          -ms-flex-pack: distribute;
      } @else {
          -webkit-box-pack: $value;
          -ms-flex-pack: $value;
      }
      -webkit-justify-content: $value;
      -moz-justify-content: $value;
      justify-content: $value;
  }
  
  @mixin align-items($value: stretch) {
      @if $value == flex-start {
          -webkit-box-align: start;
          -ms-flex-align: start;
      } @else if $value == flex-end {
          -webkit-box-align: end;
          -ms-flex-align: end;
      } @else {
          -webkit-box-align: $value;
          -ms-flex-align: $value;
      }
      -webkit-align-items: $value;
      -moz-align-items: $value;
      align-items: $value;
  }
  
  @mixin align-self($value: auto) {
      -webkit-align-self: $value;
      -moz-align-self: $value;
      @if $value == flex-start {
          -ms-flex-item-align: start;
      } @else if $value == flex-end {
          -ms-flex-item-align: end;
      } @else {
          -ms-flex-item-align: $value;
      }
      align-self: $value;
  }
  
  @mixin align-content($value: stretch) {
      -webkit-align-content: $value;
      -moz-align-content: $value;
      @if $value == flex-start {
          -ms-flex-line-pack: start;
      } @else if $value == flex-end {
          -ms-flex-line-pack: end;
      } @else {
          -ms-flex-line-pack: $value;
      }
      align-content: $value;
  }
  $base-spacing-unit: 10px;
  $tablet-lg: 991px;
  $tablet: 767px;
  $phone-lg: 649px;
  $phone: 540px;
  $desktop: 1024px;
  $squeeze: 1024px;

  .card-list {
    
    @include flexbox();
    @include flex-wrap(wrap);
    @include justify-content( center);
    max-width: 100%;
  }
  
  .card-list-item {
    @include flexbox();
    @include flex-grow(0);
    padding: 0 0.5em;
    list-style: none;
    transition: width .4s ease-in-out, flex .4s ease-in-out;
    width: 25%;
    @media screen and (max-width: $desktop) {
      width: 33.33%;
    }
    @media screen and (max-width: $tablet) {
      width: 50%;
    }
    @media screen and (max-width: $phone-lg) {
      padding-left: 0;
      width: 100%;
    }
  }
  
  .card {
    @include flexbox();
    @include flex-direction(column);
    background: #fff;
    border-radius: 2px;
    padding: 1em;
    margin-bottom: 1em;
    width: 70%;
    img {
      display: block;
      height: auto;
      margin: 0 auto;
      max-width: 50%;
      width: 50%;
    }
    &-content {
      @include flexbox();
      @include flex-direction(column);
      @include flex(1 0 auto);
    
      p {
        @include flex(1 0 auto);
        font-size: 0.875rem;
        line-height: 1.5;
        margin: 0 0 1em;
      }
    }
  }

  .squeeze {
    position: relative;
    margin: 0 auto;
    padding: 0 20px;
    max-width: $squeeze;
    @media screen and (max-width: $phone-lg) {
      padding: 0 10px;
    }
  }
  
  .push--top { margin-top: 20px }
 
 